extends ../../_layouts/base

include ../../_modules/header/header
include ../../_modules/footer/footer

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'
  - var siteTitle = 'Dubrovnik 2017'
  - var siteDescription = 'Photos from my Dubrovnik trip in September 2017'

block content
    div.section
        div.section__label
            p About
            span
        div.section__content.section__content--centered
            p
                | Dubrovnik, Croatia<br />
                | September 2017
            div.more-link.more-link--inline #[a(href="/photo") back to albums]

    div.photo-stream
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-1.jpg" src="#{baseUrl}images/photos/dubrovnik-1-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-2.jpg" src="#{baseUrl}images/photos/dubrovnik-2-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-3.jpg" src="#{baseUrl}images/photos/dubrovnik-3-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-4.jpg" src="#{baseUrl}images/photos/dubrovnik-4-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-5.jpg" src="#{baseUrl}images/photos/dubrovnik-5-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-6.jpg" src="#{baseUrl}images/photos/dubrovnik-6-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-7.jpg" src="#{baseUrl}images/photos/dubrovnik-7-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-8.jpg" src="#{baseUrl}images/photos/dubrovnik-8-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-9.jpg" src="#{baseUrl}images/photos/dubrovnik-9-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-10.jpg" src="#{baseUrl}images/photos/dubrovnik-10-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-11.jpg" src="#{baseUrl}images/photos/dubrovnik-11-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-12.jpg" src="#{baseUrl}images/photos/dubrovnik-12-thumb.jpg" class="b-lazy")
        div.photo-stream__photo.photo-stream__photo--portrait
            img(data-src="#{baseUrl}images/photos/dubrovnik-13.jpg" src="#{baseUrl}images/photos/dubrovnik-13-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-14.jpg" src="#{baseUrl}images/photos/dubrovnik-14-thumb.jpg" class="b-lazy")
        div.photo-stream__photo.photo-stream__photo--portrait
            img(data-src="#{baseUrl}images/photos/dubrovnik-15.jpg" src="#{baseUrl}images/photos/dubrovnik-15-thumb.jpg" class="b-lazy")
        div.photo-stream__photo.photo-stream__photo--portrait
            img(data-src="#{baseUrl}images/photos/dubrovnik-16.jpg" src="#{baseUrl}images/photos/dubrovnik-16-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-17.jpg" src="#{baseUrl}images/photos/dubrovnik-17-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-18.jpg" src="#{baseUrl}images/photos/dubrovnik-18-thumb.jpg" class="b-lazy")
        div.photo-stream__photo.photo-stream__photo--portrait
            img(data-src="#{baseUrl}images/photos/dubrovnik-19.jpg" src="#{baseUrl}images/photos/dubrovnik-19-thumb.jpg" class="b-lazy")
        div.photo-stream__photo.photo-stream__photo--portrait
            img(data-src="#{baseUrl}images/photos/dubrovnik-20.jpg" src="#{baseUrl}images/photos/dubrovnik-20-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-21.jpg" src="#{baseUrl}images/photos/dubrovnik-21-thumb.jpg" class="b-lazy")
        div.photo-stream__photo.photo-stream__photo--portrait
            img(data-src="#{baseUrl}images/photos/dubrovnik-22.jpg" src="#{baseUrl}images/photos/dubrovnik-22-thumb.jpg" class="b-lazy")
        div.photo-stream__photo.photo-stream__photo--portrait
            img(data-src="#{baseUrl}images/photos/dubrovnik-23.jpg" src="#{baseUrl}images/photos/dubrovnik-23-thumb.jpg" class="b-lazy")
        div.photo-stream__photo.photo-stream__photo--portrait
            img(data-src="#{baseUrl}images/photos/dubrovnik-24.jpg" src="#{baseUrl}images/photos/dubrovnik-24-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-25.jpg" src="#{baseUrl}images/photos/dubrovnik-25-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-26.jpg" src="#{baseUrl}images/photos/dubrovnik-26-thumb.jpg" class="b-lazy")
        div.photo-stream__photo.photo-stream__photo--portrait
            img(data-src="#{baseUrl}images/photos/dubrovnik-27.jpg" src="#{baseUrl}images/photos/dubrovnik-27-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-28.jpg" src="#{baseUrl}images/photos/dubrovnik-28-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-29.jpg" src="#{baseUrl}images/photos/dubrovnik-29-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-30.jpg" src="#{baseUrl}images/photos/dubrovnik-30-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-31.jpg" src="#{baseUrl}images/photos/dubrovnik-31-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-32.jpg" src="#{baseUrl}images/photos/dubrovnik-32-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-33.jpg" src="#{baseUrl}images/photos/dubrovnik-33-thumb.jpg" class="b-lazy")
        div.photo-stream__photo.photo-stream__photo--portrait
            img(data-src="#{baseUrl}images/photos/dubrovnik-34.jpg" src="#{baseUrl}images/photos/dubrovnik-34-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-35.jpg" src="#{baseUrl}images/photos/dubrovnik-35-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-36.jpg" src="#{baseUrl}images/photos/dubrovnik-36-thumb.jpg" class="b-lazy")
        div.photo-stream__photo.photo-stream__photo--portrait
            img(data-src="#{baseUrl}images/photos/dubrovnik-37.jpg" src="#{baseUrl}images/photos/dubrovnik-37-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-38.jpg" src="#{baseUrl}images/photos/dubrovnik-38-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-39.jpg" src="#{baseUrl}images/photos/dubrovnik-39-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-40.jpg" src="#{baseUrl}images/photos/dubrovnik-40-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-41.jpg" src="#{baseUrl}images/photos/dubrovnik-41-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-42.jpg" src="#{baseUrl}images/photos/dubrovnik-42-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-43.jpg" src="#{baseUrl}images/photos/dubrovnik-43-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-44.jpg" src="#{baseUrl}images/photos/dubrovnik-44-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-45.jpg" src="#{baseUrl}images/photos/dubrovnik-45-thumb.jpg" class="b-lazy")
        div.photo-stream__photo.photo-stream__photo--portrait
            img(data-src="#{baseUrl}images/photos/dubrovnik-46.jpg" src="#{baseUrl}images/photos/dubrovnik-46-thumb.jpg" class="b-lazy")
        div.photo-stream__photo.photo-stream__photo--portrait
            img(data-src="#{baseUrl}images/photos/dubrovnik-47.jpg" src="#{baseUrl}images/photos/dubrovnik-47-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-48.jpg" src="#{baseUrl}images/photos/dubrovnik-48-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-49.jpg" src="#{baseUrl}images/photos/dubrovnik-49-thumb.jpg" class="b-lazy")
        div.photo-stream__photo
            img(data-src="#{baseUrl}images/photos/dubrovnik-50.jpg" src="#{baseUrl}images/photos/dubrovnik-50-thumb.jpg" class="b-lazy")
