extends ../../_layouts/base

include ../../_modules/header/header
include ../../_modules/footer/footer

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'

block content
    div.wrapper

        +header(baseUrl)

        div.section
            div.section__label
                p About
                span
            div.section__content.section__content--centered
                p
                    | Bavaria, Germany<br />
                    | September 2016
                div.more-link.more-link--inline
                    #[a(href="/photo") back to albums]

        div.photo-stream
            div.photo-stream__photo
                img(data-src="#{baseUrl}images/photos/bavaria-1.jpg" src="#{baseUrl}images/photos/bavaria-1.jpg" class="b-lazy")
            div.photo-stream__photo
                img(data-src="#{baseUrl}images/photos/bavaria-2.jpg" src="#{baseUrl}images/photos/bavaria-2.jpg" class="b-lazy")
            div.photo-stream__photo
                img(data-src="#{baseUrl}images/photos/bavaria-3.jpg" src="#{baseUrl}images/photos/bavaria-3.jpg" class="b-lazy")
            div.photo-stream__photo
                img(data-src="#{baseUrl}images/photos/bavaria-4.jpg" src="#{baseUrl}images/photos/bavaria-4.jpg" class="b-lazy")
            div.photo-stream__photo
                img(data-src="#{baseUrl}images/photos/bavaria-5.jpg" src="#{baseUrl}images/photos/bavaria-5.jpg" class="b-lazy")
            div.photo-stream__photo
                img(data-src="#{baseUrl}images/photos/bavaria-6.jpg" src="#{baseUrl}images/photos/bavaria-6.jpg" class="b-lazy")
            div.photo-stream__photo
                img(data-src="#{baseUrl}images/photos/bavaria-7.jpg" src="#{baseUrl}images/photos/bavaria-7.jpg" class="b-lazy")
            div.photo-stream__photo
                img(data-src="#{baseUrl}images/photos/bavaria-8.jpg" src="#{baseUrl}images/photos/bavaria-8.jpg" class="b-lazy")
            div.photo-stream__photo
                img(data-src="#{baseUrl}images/photos/bavaria-9.jpg" src="#{baseUrl}images/photos/bavaria-9.jpg" class="b-lazy")
            div.photo-stream__photo
                img(data-src="#{baseUrl}images/photos/bavaria-10.jpg" src="#{baseUrl}images/photos/bavaria-10.jpg" class="b-lazy")
            div.photo-stream__photo.photo-stream__photo--portrait
                img(data-src="#{baseUrl}images/photos/bavaria-11.jpg" src="#{baseUrl}images/photos/bavaria-11.jpg" class="b-lazy")
            div.photo-stream__photo
                img(data-src="#{baseUrl}images/photos/bavaria-12.jpg" src="#{baseUrl}images/photos/bavaria-12.jpg" class="b-lazy")
            div.photo-stream__photo
                img(data-src="#{baseUrl}images/photos/bavaria-13.jpg" src="#{baseUrl}images/photos/bavaria-13.jpg" class="b-lazy")
            div.photo-stream__photo
                img(data-src="#{baseUrl}images/photos/bavaria-14.jpg" src="#{baseUrl}images/photos/bavaria-14.jpg" class="b-lazy")

        +footer(baseUrl)
