extends ../_layouts/base

include ../_modules/header/header
include ../_modules/footer/footer

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    div.wrapper

        +header(baseUrl)

        div.section
            div.album-grid
                div.album-grid__header
                    h1 Bavaria
                    h2 '16
                div.album-grid__teaser
                    div.album-grid__teaser__wrapper
                        img(data-src="#{baseUrl}images/photos/bavaria-1.jpg" src="#{baseUrl}images/photos/bavaria-1.jpg" class="b-lazy")
                div.album-grid__small-teaser
                    div.album-grid__small-teaser__wrapper
                        img(data-src="#{baseUrl}images/photos/bavaria-2.jpg" src="#{baseUrl}images/photos/bavaria-2.jpg" class="b-lazy")
                    div.album-grid__small-teaser__wrapper
                        img(data-src="#{baseUrl}images/photos/bavaria-3.jpg" src="#{baseUrl}images/photos/bavaria-3.jpg" class="b-lazy")
                div.more-link
                    #[a(href="/photo/bavaria") more photos]

        div.section
            div.album-grid
                div.album-grid__header
                    h1 Prague
                    h2 '16
                div.album-grid__teaser
                    div.album-grid__teaser__wrapper
                        img(data-src="#{baseUrl}images/photos/prague-1.jpg" src="#{baseUrl}images/photos/prague-1.jpg" class="b-lazy")
                div.album-grid__small-teaser
                    div.album-grid__small-teaser__wrapper
                        img(data-src="#{baseUrl}images/photos/prague-2.jpg" src="#{baseUrl}images/photos/prague-2.jpg" class="b-lazy")
                    div.album-grid__small-teaser__wrapper
                        img(data-src="#{baseUrl}images/photos/prague-3.jpg" src="#{baseUrl}images/photos/prague-3.jpg" class="b-lazy")
                div.album-grid__half-teaser
                    div.album-grid__half-teaser__wrapper
                        img(data-src="#{baseUrl}images/photos/prague-4.jpg" src="#{baseUrl}images/photos/prague-4.jpg" class="b-lazy")
                    div.album-grid__half-teaser__wrapper
                        img(data-src="#{baseUrl}images/photos/prague-5.jpg" src="#{baseUrl}images/photos/prague-5.jpg" class="b-lazy")
                div.more-link
                    #[a(href="/photo/prague") more photos]

        div.section
            div.album-grid
                div.album-grid__header
                    h1 USA
                    h2 '14
                div.album-grid__teaser
                    div.album-grid__teaser__wrapper
                        img(data-src="#{baseUrl}images/photos/usa-1.jpg" src="#{baseUrl}images/photos/usa-1.jpg" class="b-lazy")
                div.album-grid__small-teaser
                    div.album-grid__small-teaser__wrapper
                        img(data-src="#{baseUrl}images/photos/usa-2.jpg" src="#{baseUrl}images/photos/usa-2.jpg" class="b-lazy")
                    div.album-grid__small-teaser__wrapper
                        img(data-src="#{baseUrl}images/photos/usa-3.jpg" src="#{baseUrl}images/photos/usa-3.jpg" class="b-lazy")

        +footer(baseUrl)
