include ../_modules/header/header
include ../_modules/footer/footer

//- Custom Configuration
block config
  //- Setup site's base URL to match the "baseUrl" key within `package.json`
  //- Otherwise default to relative pathing
  - var baseUrl = config.baseUrl || './'

doctype html

<!--[if lt IE 9]>
<html class='lt-ie9 no-js' lang='en'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class='no-js' lang='en'>
<!--<![endif]-->

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  <!-- COMMON TAGS -->
  title #{siteTitle ? ('Jonas Tebbe | ' + siteTitle): 'Jonas Tebbe'}
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  <!-- Favicons -->
  link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
  link(rel="manifest" href="/manifest.json")
  link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000")
  meta(name="theme-color" content="#f1faee")
  <!-- Search Engine -->
  meta(name='description', content=siteDescription || 'Hey, I’m Jonas and I create digital products.')
  meta(name='image', content= 'http://jonastebbe.com/images/avatar.jpg')
  <!-- Schema.org for Google -->
  meta(itemprop='name', content=siteTitle ? ('Jonas Tebbe | ' + siteTitle): 'Jonas Tebbe')
  meta(itemprop='description', content=siteDescription || 'Hey, I’m Jonas and I create digital products.')
  meta(itemprop='image', content='http://jonastebbe.com/images/avatar.jpg')
  <!-- Twitter -->
  meta(name='twitter:card', content='summary')
  meta(name='twitter:title', content=siteTitle ? ('Jonas Tebbe | ' + siteTitle): 'Jonas Tebbe')
  meta(name='twitter:description', content=siteDescription || 'Hey, I’m Jonas and I create digital products.')
  meta(name='twitter:site', content='@jonastebbe')
  meta(name='twitter:creator', content='@jonastebbe')
  meta(name='twitter:image:src', content='http://jonastebbe.com/images/avatar.jpg')
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  meta(name='og:title', content=siteTitle ? ('Jonas Tebbe | ' + siteTitle): 'Jonas Tebbe')
  meta(name='og:description', content=siteDescription || 'Hey, I’m Jonas and I create digital products.')
  meta(name='og:image', content='http://jonastebbe.com/images/avatar.jpg')
  meta(name='og:url', content='http://jonastebbe.com/')
  meta(name='og:site_name', content='Jonas Tebbe')
  meta(name='og:locale', content='de_DE')
  meta(name='og:type', content='website')

  block stylesheets
    link(rel='stylesheet', href= baseUrl + 'styles/main.css')

body
  <!--[if lt IE 9]>
  <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  div.wrapper
    +header
    div#barba-wrapper
      div.barba-container
        block content
    +footer

  block scripts
    script(src= baseUrl + 'scripts/main.js')
    script(src= baseUrl + 'scripts/ga.js')
</html>
