mixin header(baseUrl)
  - var _baseUrl = baseUrl || ''

  div.header
    div.header__logo
      a(href="/")
        h1 JONAS
    div.header__links
      a.social-icon(href="mailto:jonastebbe@googlemail.com" target="_blank")
        img(src="#{_baseUrl}images/icons/mail.svg")
      a.social-icon(href="https://www.twitter.com/jonastebbe" target="_blank")
        img(src="#{_baseUrl}images/icons/twitter.svg")
      a.social-icon(href="https://de.linkedin.com/in/jonastebbe" target="_blank")
        img(src="#{_baseUrl}images/icons/linkedin.svg")
      a.social-icon(href="https://www.facebook.com/jonas.tebbe" target="_blank")
        img(src="#{_baseUrl}images/icons/facebook.svg")
      a.social-icon(href="https://www.instagram.com/jonastebbe" target="_blank")
        img(src="#{_baseUrl}images/icons/instagram.svg")
      a.social-icon(href="https://www.github.com/jonastebbe" target="_blank")
        img(src="#{_baseUrl}images/icons/github.svg")
