extends ../_layouts/base

include ../_modules/header/header
include ../_modules/footer/footer

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var siteTitle = 'Projects'
  - var siteDescription = 'Some of my recent projects'

block content
    div.section
        div.project-grid
            div.project-grid__mockup
                img(src="#{baseUrl}images/projects/liqid-desktop.jpg" class="desktop")
                img(src="#{baseUrl}images/projects/liqid-mobile.jpg" class="mobile")
            div.project-grid__meta
                h1 LIQID
                p LIQID is a robo advisor that offers affluent investors in Germany a fully digital wealth management service. Only eight months after market launch, LIQID reached 100 million euro in assets under management and was named Germany’s best late stage FinTech startup. As of today, LIQID is among the four largest and most successful robo advisors in Europe. #[a(href="//www.liqid.de" class="text-link text-link--small" target="_blank") More »]

    div.section
        div.project-grid
            div.project-grid__mockup
                img(src="#{baseUrl}images/projects/prosper-desktop.jpg" class="desktop")
                img(src="#{baseUrl}images/projects/prosper-mobile.jpg" class="mobile")
            div.project-grid__meta
                h1 Prosper
                p Connect your bank account and let us evaluate your financial situation. Experience how much money you can easily put aside and invest your savings to harvest a return. Prosper analyses  historical bank account transactions with the ARIMA model and derives individual savings rates that do not hurt. All savings get invested into individual ETF portfolios that suit individual needs.

    div.section
        div.project-grid
            div.project-grid__mockup
                img(src="#{baseUrl}images/projects/owlhub-v1-desktop.jpg" class="desktop")
                img(src="#{baseUrl}images/projects/owlhub-v1-mobile.jpg" class="mobile")
            div.project-grid__meta
                h1 owlhub 1.0
                p Crowdsourcing insights and predictions to faciliate investments for everyone. Students, investors and traders become analysts to predict stock movements and share stock analyses to measure their skills and acquire profound knowledge fast and easily. #[a(href="//app.owlhub.co/" class="text-link text-link--small" target="_blank") More »]
            
    div.section
        div.project-grid
            div.project-grid__mockup.project-grid__mockup
                img(src="#{baseUrl}images/projects/owlhub-v2-desktop.jpg" class="desktop")
                img(src="#{baseUrl}images/projects/owlhub-v2-mobile.jpg" class="mobile")
            div.project-grid__meta
                h1 owlhub 2.0
                p As young professionals have lived through two crises already, they are extremely risk-averse and hold large positions in cash. We Germans are great savers but inflation eats up our savings. What young professionals need is a transparent, flexible and easy-to-use solution that makes investing easy as pie. owlhub. is the app that makes investing as hassle-free as your piggy bank. You decide week after week, how much you want to save and we invest your savings into an ETF portfolio that suits your needs. That way, you make your money work for you. #[a(href="//www.owlhub.co" class="text-link text-link--small" target="_blank") More »]

    div.section
        div.project-grid
            div.project-grid__mockup
                img(src="#{baseUrl}images/projects/marketpulse-desktop.jpg" class="desktop")
            div.project-grid__meta
                h1 Marketpulse
                p It is hard to figure out what information is valuable and nobody has the time to watch Bloomberg 24/7. At the hackathon of the EBSpreneurship we decided to fix this problem. Marketpulse visualizes the StockPulse data and einriches the information with content from Twitter through the tame API and financial information from the Finance Base API. #[a(href="//marketpulse.owlhub.co" class="text-link text-link--small" target="_blank") More »]